@page
@model ContosoUniversity.Pages.ClientModel
@{
    ViewData["Title"] = "Client";
}

<h1>Client</h1>


<ul>
    @foreach (var branches in Model.Branches)
    {
        <li>@branches.Name</li>
    }
</ul>
